<launch>
  <!-- Params for launch file -->
  <arg name="map_path" default="$(find-pkg-share pose_uwb)/map/lab.yaml"/>


  <!-- Params for wrist position node -->
  <arg name="user_name" default="user1"/>
  <arg name="filter" default="False"/>
  <arg name="imu_msgs" default="False"/>
  <arg name="strips" default="False"/>

  <!-- Params for rm position node -->
  <arg name="rm_ranges_topic" default="ranges"/>
  <arg name="rm_name" default="rm1"/>


  <include file="$(find-pkg-share pose_uwb)/launch/wrist_uwb.launch">
    <arg name="map_path" value="$(var map_path)" />
    <arg name="user_name" value="$(var user_name)"/>
    <arg name="filter" value="$(var filter)" />
    <arg name="imu_msgs" value="$(var imu_msgs)"/>
    <arg name="strips" value="$(var strips)"/>
  </include>

  <include file="$(find-pkg-share pose_uwb)/launch/rm_uwb.launch">
    <arg name="name" value="$(var rm_name)"/>
    <arg name="ranges_topic" value="$(var rm_ranges_topic)" />
    <arg name="map_path" value="$(var map_path)" />
  </include>


  

</launch>